:root {
  --main-color: #9286CF;
  --background-color: white;
  --accent-color: #b0b0f0;

  --highlight-color: #5ed7fc;
  --transition-color: black;

  --table-color: black;

  --headline-color: #604E91;

  --main-headline-font: 'Vujahday Script', cursive, Arial;
  --sub-headline-font: 'Roboto Mono', monospace;


  --paragraph-font: 'VT323', monospace;
  --paragraph-color: black;
  --code-color: var(--paragraph-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #9286CF;
    --background-color: #1a1a1a;
    --accent-color: #b0b0f0;

    --transition-color: white;

    --table-color: white;

    --headline-color: #604E91;
    --paragraph-color: white;
    --code-color: var(--paragraph-color);
  }
}

body {
  background-color: var(--background-color);
}

p {
  line-height: 1.5;
  font-size: 1.1em;
  font-family: var(--paragraph-font);

  color: var(--paragraph-color);
}

ul {
  display: flex;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

h1 {
  font-size: 2.8rem;
  font-family: var(--main-headline-font);
}

h2 {
  font-family: var(--sub-headline-font);
  color: var(--headline-color);
  font-size: 1.7rem;
}

table {
  width: 100%;
  border-collapse: collapse;

  color: var(--table-color);
}

table th, .table-header {
  width: calc(100%/2);
  font-family: var(--sub-headline-font);
  font-size: 1.1rem;
  border-bottom: 1px solid var(--table-color);
  padding-bottom: 10px;
}

.table-header {
  font-size: 1.3rem;
  text-transform: uppercase;
}

table td {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
}

table th:nth-child(2) {
  border-left: 1px solid var(--table-color);
}

table td:nth-child(2n + 1) {
  border-right: 1px solid var(--table-color);
}

pre, code {
  display: inline-block;
  text-align: left;
  color: var(--code-color);
  font-size: 1rem;
  margin: 0;
  
}

.code-container {
  text-align: center;
}

.main-nav {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: var(--background-color);
  margin-bottom: 16px;

  z-index: 1;
}

.nav-list {
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .nav-list {
    flex-direction: row;
    justify-content: center;
  }
}

.main-nav li {
  list-style: none;
  
  padding-left: 18px;
  
  font-family: var(--sub-headline-font);
  font-size: 1.2rem;

  color: var(--main-color);
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--transition-color);
  cursor: pointer;
}

header {
  background-color: var(--accent-color);
  height: 99vh;
  margin: auto auto;
}

.header-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.header-content h1 {
  color: white;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}

.header-content p {
  color: white;

  font-size: 1.2rem;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.content-container {
  width: clamp(250px, 70vw, 800px);
  margin-left: auto;
  margin-right: auto;
}

.iframe-content {
  width: 100%; 
  height: 550px; 
  margin-bottom: 0;
}

iframe {
  width: 132.5%;
  height: 728px;
  background-color: rgb(255, 255, 255);
  
  transform: scale(0.75);
  transform-origin: 0 0;
}

.iframe-source {
  margin: 0;
  font-size: 0.9em;
  text-align: center;
}

video {
  width: 100%;
  margin-top: 1%;
}

footer {
  font-size: 1.3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: var(--main-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--transition-color);
}

@keyframes color-transition {
  0% {color: var(--headline-color);}
  50% {color: var(--highlight-color); }
  100% {color: var(--headline-color);}
}